@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top ;
    background-size: contain;
    overflow-x: hidden;

}

img:not(.logo){
    display: block;
    width: 100%;
}

.main{
    padding: 2.5rem 0;
    width: 85vw;
    max-width: 1170px;
    margin: 0 auto;
}

.header{
    margin-bottom: 2rem;
}

 .logo{
     padding: 2rem 2.5rem;
     margin: 0 auto;
    width: 50%;
}

.header-img{
    transform: translateY(-8%);
    -webkit-transform: translateY(-8%);
    -moz-transform: translateY(-8%);
    -ms-transform: translateY(-8%);
    -o-transform: translateY(-8%);
}

.hero{
margin-bottom: 1rem;
text-align: center
}

.hero h2{
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    text-transform: capitalize;
    font-size: 20px;
    max-width: 16rem;
    margin: 0 auto 1rem auto;
}

.hero p{
    max-width: 18rem;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 auto 1.5rem auto
}

.btn{
    width: 45%;
    padding:0.8rem;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    background: #ffffff;
    font-size: 16px;
    color: hsl(257, 40%, 49%);
    border: none;
    outline: none;
}

.btn:hover{
background: #CB52DF;
color: #ffffff;
}

.hero-footer{
    text-align: center;
    margin-bottom: 2rem;
}

.hero-footer .fab{
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.fab:hover{
    color: #CB52DF;
}


@media screen and (min-width:768px){
   body{
 background: hsl(257, 40%, 49%);
background-image: url(./images/bg-desktop.svg);
background-repeat: no-repeat;
background-size: cover;
background-position: bottom right;
background-attachment: fixed;
overflow: hidden;
   }

   .logo{
       width: 20%;
       padding-left: 3rem;

   }
   
    .main{
        width: 90vw;
        margin: 0 2rem 1rem 2rem;
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 2rem;

    }

    .hero{
        text-align: left;
    }

    .hero h2{
        max-width: 17rem;
        font-size: 25px;
    }

    .hero p{
        max-width: 25rem;
        font-size: 18px;
        padding-left: 4rem;
    }

    .btn{
margin-left: 4rem;
    }


    .hero-footer{
     display: flex;
     justify-content: flex-end;
     align-items: flex-start;
     margin-top: -9.5rem;
     margin-right: 3rem;
    }

}
